%div.lefty
-# %div.lefty-biz-top
-# %div.lefty-biz-bottom
-# %div.lefty-biz-leaf
%div.righty
-# %div.righty-biz

%div#topics
  = render @topics

  %div#infinite-scrolling
    = will_paginate

%a.glyphicon.glyphicon-plus#create-topic{title: 'Create Topic', href: new_topic_path}
