.topic.topic-new
 %a.topic-section.topic-description
  %textarea{ placeholder: 'Topic to discuss' }
  %select.select2{ multiple: "multiple" }
   - @tags.each do |tag|
    %option{:value => tag.id}= tag.name

 .clear

 %a.topic-section.topic-side.topic-side-left.semi-selected
  %input{ placeholder: 'First position' }

 .topic-section.topic-side.topic-side-right.semi-selected
  %input{ placeholder: 'Second position' }

 .clear

 .topic-container
  .topic
   .reason-area.right-side
    %textarea{ placeholder: 'Why?' }

 %input.create.disabled{ type: 'submit', value: 'Submit' }
