-# reason

.reason
  .meta
    = reason.user.nil? ? nil : reason.user.username

  .reason-description
    = reason.description

  .links
    %a.agree-link{ 'data-reason-id' => reason.id }= reason.agree? ? 'Nevermind' : 'Agree'
