-# reason

.reason
  .meta
    = reason.user.nil? ? nil : reason.user.username

  .reason-description
    = link_urls(reason.description.gsub("\n", '<br/>')).html_safe

  - if reason.position.selected?
    .links
      %a.agree-link{ 'data-reason-id' => reason.id, style: 'color: gray;' }= reason.agree? ? 'Nevermind' : 'Agree'
