/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require select2.min
 *= require tooltipster.bundle.min
 *= require tooltipster-sideTip-borderless.min
 *= require tooltipster-sideTip-light.min
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0px;
  background: rgba(88, 116, 152, .1);
  overflow-x: hidden;
  font-size: 1.3rem !important;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}

.select2.select2-container{
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #666 1px !important;
}

.notice{
  background-color: #587498;
  padding: 3px;
  text-align: center;
  color: #fff;
  width: 50%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: fixed;
  margin-left: 25%;
  z-index: 999;
}

.alert{
  background-color: #587498;
  padding: 3px;
  text-align: center;
  color: #fff;
  width: 50%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: fixed;
  margin-left: 25%;
  z-index: 999;
}

.basic-link > a{
  color: #0f250f;
}

#infinite-scrolling{
  float: right;
}

.pagination > li > a, .pagination > li > span {
    color: #587498;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #587498;
    border-color: #587498;
}

.pagination {
    margin: 5px 0 10px;
}
