.pad-field{
  padding-bottom: 15px;
}

.style-field{
  border: 0px;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}

.style-submit{
  background-color: #587498;
  border: 0px;
  border-radius: 3px;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
  color: white;
}

.style-cancel{
  background-color: #fff;
  border: 0px;
  font-weight: bold;
  color: #587498;
}
