// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topics{
  position: absolute;
  left: 50%;
  margin-left: -434px;
  margin-top: 10px;
}

#topics > .topic-container > .topic{
  min-width: 868px;
}

#topics > .topic-container > .topic.selected{
  margin-top: 5px;
  margin-bottom: 5px;
}

.topic > .topic-section{
  float:left;
  padding: 10px;
  height: 70px;
  color: #666;
  text-decoration: none;
}

#topics > .topic-container > .topic > .topic-side{
  width: 150px;
}

.topic > .topic-side{
  width: 15%;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
}

.topic > .topic-side.selected{
  font-weight: bold;
  color: #fff;
}

.topic > .topic-side-left{
  color: #587058;
}

.topic > .topic-side-left.selected{
  background-color: #587058;
  border: 1px solid #587058;
}

.topic > .topic-side-left.semi-selected{
  background-color: rgba(88, 112, 88, 0.1);
  border: 1px solid rgba(88, 112, 88, 0);
}

.topic > .topic-side-right{
  color: #a44a1a;
}

.topic > .topic-side-right.selected{
  background-color: #E86825;
  border: 1px solid #E86825;
}

.topic > .topic-side-right.semi-selected{
  background-color: rgba(232, 104, 37, 0.1);
  border: 1px solid rgba(232, 104, 37, 0);
}

.topic > .topic-side.deselected{
  color: lightgray;
  background-color: transparent;
  border: 1px solid transparent;
}

#topics > .topic-container > .topic > .topic-description{
  width: 500px;
}

.topic > .topic-description{
  width: 70%;
  border-top: 1px solid lightgray;
  background-color: #F5F5F5;
  position: relative;
}

.topic > .topic-description.selected-left{
  border: 1px solid #587058;
}

.topic > .topic-description.semi-selected-left{
  border: 1px solid rgba(88, 112, 88, 0);
}

.topic > .topic-description.selected-right{
  border: 1px solid #E86825;
}

.topic > .topic-description.semi-selected-right{
  border: 1px solid rgba(232, 104, 37, 0);
}

.glyphicon#create-topic{
  font-size: 35px;
  position: fixed;
  top: 95%;
  right: 10px;
  color: #587498;
  text-decoration: none;
}

.topic-banner{
  z-index: 999;
  width: 100%;
}

.topic-tag{
  background-color: #666;
  color: white;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 3px;
  font-size: 9px;
  right: 3px;
}

.topic-new{
  margin-left: 20%;
  margin-top: 30px;
}

.topic-new > .topic-description > textarea{
  width: 100%;
  border-color: transparent;
  height: 85px;
  margin-bottom: 5px;
}

.topic-new > .topic-side-left{
  background-color: rgba(88, 112, 88, 0.1);
}

.topic-new > .topic-side-right{
  background-color: rgba(232, 104, 37, 0.1);
}

.topic-new > .topic-side{
  width: 35%;
}

.topic-new > .topic-side > input{
  width: 100%;
  height: 100%;
  border-color: transparent;
  text-align: center;
}

input.create{
  background-color: #587498;
  border: 0px;
  border-radius: 3px;
  margin-top: 10px;
  width: 70%;
  height: 40px;
  font-weight: bold;
  color: white;
}

.topic-new > .topic-description > select{
  width: 100%;
}

.topic-new > .topic-description{
  height: 140px;
}

li.select2-selection__choice{
  background-color: #666 !important;
  color: white !important;
  border: 0px !important;
  float: right !important;
}
